ANTHROPIC_API_KEY=
DEFAULT_LAT=
DEFAULT_LON=
TARS_EMAIL_ADDRESS=
TARS_EMAIL_ALLOW=
TARS_EMAIL_PASSWORD=
TARS_EMAIL_TO=
TARS_EMAIL_POLL_INTERVAL=
TARS_HOME=
TARS_TD=
TARS_MAX_TOKENS=
TARS_MEMORY_DIR=
TARS_MODEL_DEFAULT=
TARS_MODEL_EMBEDDING=
TARS_MODEL_REMOTE=  # set to "none" to disable
TARS_MODEL_RETRIEVAL=
TARS_ROUTING_POLICY=
TARS_AUTO_EXTRACT=true
TARS_NOTES_DIR=
TARS_API_TOKEN=
TARS_TELEGRAM_TOKEN=
TARS_TELEGRAM_ALLOW=

